<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Cursos</div>
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <p class="card-text">Sigla: {{cod}}</p>
    <p class="card-text">Área: {{area}}</p>
    <p class="card-text">Descrição: {{description}}</p>
    <div style="display: flex; justify-content: space-evenly;">
      <div><a href="{{id}}/update"><i class="fa-solid fa-pen"></i></a></div>
      <div><a href="{{id}}/delete"><i class="fa-solid fa-trash-can"></i></a></div>
    </div>
  </div>
</div>